.text{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.text3{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.fase{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span4{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span5{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span6{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span7{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span8{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span9{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span10{
    text-align: center;
    border: 7px solid white;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.span11{
    text-align: center;
    border-radius:5px ;
    color: white;
    padding: 5px;
    background-color: orange;
    border: 7px solid whitesmoke;
}