.text{
    text-align: center;
    border: 5px solid whitesmoke;
    background-color: coral;
    color: white;
    padding: 5px;

}
.row{
    background-color: orange;

}
.fase{
    text-align: center;
    border: 5px solid whitesmoke;
    background-color: coral;
    color: white;
    padding: 5px;
}
.text1{
    text-align: center;
    border: 5px solid whitesmoke;
    background-color: coral;
    color: white;
    padding: 5px;
}
.text2{
    text-align: center;
    border: 5px solid whitesmoke;
    background-color: coral;
    color: white;
    padding: 5px;
}
.text3{
    text-align: center;
    border: 5px solid whitesmoke;
    background-color: coral;
    color: white;
    padding: 5px;
}